/.idea/
/general-classes-generator-conversion/target/
/general-classes-generator-maven-plugin/target/
/general-classes-generator-tests/target/
/**/*.iml
/general-classes-generator-tests/src/test/resources/actual/